body{
    background: url(img/292578.jpg);
    background-size: cover;
    backdrop-filter: blur(10px);
    margin: 0px;
    overflow: hidden;
}

input:focus{
    outline: none;
}

.principal{
    margin: auto;
    width: 808px;
    height: 400px;
    position: relative;
    bottom: 220px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.2s;
    box-shadow: 8px 8px 8px;
}

.datos{
    background-color: transparent;
    border: none;
    border-bottom: solid white 1px;
    text-align: center;
    width: 250px;
    height: 20px;
    color: white;
    font-size: medium;
    transition: 0.15s;
}

.datos:focus{
    transform: scale(1.1, 1.1);
}

.referencia{
    color: black;
    margin: auto;
    position: relative;
    bottom: 180px;
    width: max-content;
    font-size: smaller;
}