.iniciarSesion{
    margin: 5px;
    text-align: center;
    color: white;
    width: 400PX;
    height: 395px;
    font-size: large;
}

.iniciarSesion p{
    font-size: x-large;
}

.btnIs{
    width: 350px;
    height: 80px;
    position: relative;
    top: 50px;
    border-radius: 0px;
    border: none;
    background-color: rgb(55, 131, 58);
    font-size: larger;
    transition: 0.2s;
}

.btnIs:hover{
    background-color: #4caf50;
    transform: scale(1.02, 1.02);
}

.btnIs:focus{
    background-color: rgb(55, 131, 58);
    transform: scale(1, 1);
}