.lateralDerecho{
    width: max-content;
    height: max-content;
    max-width: 90px;
    max-height: 280px;
    position: relative;
    right: 30px;
    top: 120px;
    margin-left: auto;
    box-shadow: 8px 8px 8px;
    background-color: rgba(0,0,0,0.4);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 0.2s;
}

.lateralDerecho:hover{
    transform: scale(1.07, 1.07);
}

.rrss{
    width: 50px;
    padding: 20px;
    transition: 0.2s;
}

.rrss:hover{
    transform: scale(1.15, 1.15);
}

.rrss:focus{
    transform: scale(0.3, 0.3);
}