.registrarse{
    margin: 5px;
    text-align: center;
    width: 380px;
    height: 387px;
    color: white;
}

.registrarse p{
    text-align: right;
    color: white;
    font-size: x-large;
    position: relative;
    right: 10px;
}

.btnReg{
    margin-left: 15px;
    position: relative;
    top: 35px;
    right: 10px;
    width: 350px;
    height: 80px;
    font-size: larger;
    border-radius: 0%;
    border: none;
    background-color: rgb(15, 98, 153);
    transition: 0.2s;
}

.btnReg:hover{
    background-color: rgb(47, 136, 196);
    border: none;
    transform: scale(1.02, 1.02);
}

.btnReg:focus{
    background-color: rgb(15, 98, 153);
    transform: scale(1, 1);
}

.reg{
    border-left: solid rgb(22, 22, 22) 1px;
}